<!DOCTYPE html>
<html lang="en">
<head>
  {% if site.data.global.mode == 'development' %}
  {% assign theme_base_url = site.data.global.dev_url %}
  {% else %}
  {% assign theme_base_url = site.data.global.url %}
  {% endif %}  
  <base href="{{ theme_base_url }}" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
  <meta name="Keywords" content="{{ site.data.global.keywords }}">
  <meta name="author" content="kenneth muturi - muturiken@gmail.com">
  <meta name="description" content="{{ site.data.global.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | prepend: theme_base_url }}">  
  <link rel="icon" type="image/ico"  href="{{ theme_base_url }}favicon.ico">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.global.title }}{% endif %}</title>
  
  <link href="{{ theme_base_url }}assets/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ theme_base_url }}assets/css/bootstrap.css" media="screen">
  <link rel="stylesheet" href="{{ theme_base_url }}assets/css/style.css" media="screen">
  <link rel="stylesheet" href="{{ theme_base_url }}assets/css/stylesheet.css" media="screen">
</head>
<body>
  <div class="mobile-menu"></div>
  <div id="content">
    <div class="bg-content-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-3 col-lg-2">
            <div class="affix-top" id="nav_container">
              <a href="{{ theme_base_url }}" id="affect_all" target="_blank"> <span class="expand" style="padding-top: 10px;display: block;"><strong>ACERWC Documentation</strong></span></a>
              <div class="clearfix"></div>              
              <ul class="nav nav-list bs-docs-sidenav" id="nav">
                <li class="nav-item item1 first">
                  <dl class="slide-down"> <dt><a href="{{ theme_base_url }}" class="fa fa-info">Getting Started</a></dt>
                  </dl>
                </li>
                <li class="nav-item item2 open_item">
                  <dl class="slide-down">
                    <dt><a href="#" class="fa fa-info">Why Drupal</a> <i class="fa fa-sample"></i></dt>
                  </dl>
                  <dd>
                    <ul class="list">
                      <li class="first"><a  class="nav-link" href="{{ theme_base_url }}getting-started/why-drupal">Drupal CMS</a></li>
                      <li class="first"><a class="nav-link" href="{{ theme_base_url }}getting-started/installation">Installation</a></li>
                      <li class="first"><a class="nav-link" href="{{ theme_base_url }}getting-started/site-planning">Site Planning</a></li>
                      <li class="first"><a class="nav-link" href="{{ theme_base_url }}getting-started/content-types">Content Types</a></li>
                      <li class="first"><a class="nav-link" href="{{ theme_base_url }}getting-started/appearance">Appearance</a></li>
                    </ul>
                  </dd>
                </li>   
                <li class="nav-item item7">
                  <dl class="slide-down">
                    <dt><a href="#" class="fa fa-angle-double-right">ACERWC Website Management</a> <i class="fa fa-sample"></i></dt>
                  </dl> 
                  <dd>
                    <ul class="list">
                      <li class="first"><a class="nav-link" href="{{ theme_base_url }}acerwc/admin/where-to-start/">Where to start</a></li>
                      <li class="first"><a class="nav-link" href="{{ theme_base_url }}acerwc/admin/website-management/">Administration Page</a></li>
                      <li class="first"><a class="nav-link" href="{{ theme_base_url }}acerwc/admin/content/">Content Administration</a></li> 
                      <li class="first"><a class="nav-link"  href="{{ theme_base_url }}acerwc/admin/structure/">Structure Administration</a></li> 
                      <li class="first"><a class="nav-link"  href="{{ theme_base_url }}acerwc/admin/content-types/">Content Types</a></li> 
                      <li class="first"><a class="nav-link"  href="{{ theme_base_url }}acerwc/admin/content-builder/">Using Content Builder</a></li> 
                      <li class="first"><a class="nav-link"  href="{{ theme_base_url }}acerwc/admin/menus/">Menus</a></li> 
                      <li class="first"><a class="nav-link"  href="{{ theme_base_url }}acerwc/admin/people/">People</a></li> 
                    </ul>
                  </dd>
                </li> 
                <li class="nav-item item3 open_item">
                  <dl class="slide-down">
                    <dt><a href="#" class="fa fa-angle-double-right">ACERWC THEME Blocks</a><i class="fa fa-sample"></i></dt>
                  </dl>
                  <dd>
                    <ul class="list">
                      <li class="first"><a class="nav-link"  href="{{ theme_base_url }}acerwc-theme/regions/">ACERWC Theme Region</a></li>
                      <li class="first"><a class="nav-link"  href="{{ theme_base_url }}acerwc-theme/block-configuration/">Block Configuration</a></li>
                    </ul>
                  </dd>
                </li>
                <li class="nav-item item8 last">
                  <dl class="slide-down">
                    <dt><a  href="{{ theme_base_url }}acerwc-theme/settings" class="fa fa-angle-double-right">Theme settings</a></dt>
                  </dl>
                </li>
                <li class="nav-item item9 last">
                  <dl class="slide-down"> <dt><a  href="{{ theme_base_url }}drupal-updates" class="fa fa-angle-double-right" style="color: #ff1d4e; font-weight: 700;">Update Drupal 9</a></dt>
                  </dl>
                </li>                                          
              </ul>
            </div>
          </div> 
          <div class="col-xs-12 col-md-9 col-lg-10">
            {{ content }}
          </div> 
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <p class="footer-info text-center">&copy; Copyright {{ 'now' | date: "%Y" }} {{ site.data.global.title }} | All rights Reserved</p>
      <p class="text-2 text-center mb-0">Designed &amp; Developed by <a class="btn-link" target="_blank" href="#">Kenneth Muturi</a>.</p>
    </div>
  </footer>
  <div class="" id="back-top"> <a href="#"><i class="fa fa-angle-double-up"></i></a> </div>
  <script src="{{ theme_base_url }}assets/jquery.js"></script>
  <script src="{{ theme_base_url }}assets/scripts.js"></script>
</body>
</html>