<!DOCTYPE html>
<html lang="en">
<head>
  {% if site.data.global.mode == 'development' %}
  {% assign theme_base_url = site.data.global.dev_url %}
  {% else %}
  {% assign theme_base_url = site.data.global.url %}
  {% endif %}
  <base href="{{ theme_base_url }}" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
  <meta name="Keywords" content="{{ site.data.global.keywords }}">
  <meta name="author" content="kenneth muturi - muturiken@gmail.com">
  <meta name="description" content="{{ site.data.global.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | prepend: theme_base_url }}">  
  <link rel="icon" type="image/ico" href="favicon.ico">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.global.title }}{% endif %}</title>

  <link href="assets/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets/css/bootstrap.css" media="screen">
  <link rel="stylesheet" href="assets/css/style.css" media="screen">
  <link rel="stylesheet" href="assets/css/stylesheet.css" media="screen">
</head>
<body>
	<div class="mobile-menu"></div>
  <div id="content">
    <div class="bg-content-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-3 col-lg-2">
            <div class="affix-top" id="nav_container">
              <a href="/" id="affect_all" target="_blank"> <span class="expand" style="padding-top: 10px;display: block;"><strong>ACERWC</strong></span></a>
              <div class="clearfix"></div>              
              <ul class="nav nav-list bs-docs-sidenav" id="nav">
                <li class="nav-item item1 first">
                  <dl class="slide-down"> <dt><a href="/index/" class="fa fa-info">Getting Started</a></dt>
                  </dl>
                </li>
                <li class="nav-item item2">
                  <dl class="slide-down">
                    <dt><a href="/getting-started/why-drupal" class="fa fa-info">Why Drupal</a> <i class="fa fa-sample"></i></dt>
                  </dl>
                    <dd style="display: none;">
                      <ul class="list">
                        <li class="first"><a class="nav-link" href="/getting-started/installation">Installation</a></li>
                        <li class="first"><a class="nav-link" href="/getting-started/site-planning">Site Planning</a></li>
                        <li class="first"><a class="nav-link" href="/getting-started/website-management">Website Management</a></li>
                        <li class="first"><a class="nav-link" href="/getting-started/content-types">Content Types</a></li>
                        <li class="first"><a class="nav-link" href="/getting-started/appearance">Appearance</a></li>
                      </ul>
                  </dd>
                </li>   
                <li class="nav-item item3">
                  <dl class="slide-down">
                    <dt><a href="#" class="fa fa-info">Blocks</a><i class="fa fa-sample"></i></dt>
                  </dl>
                  <dd style="display: none;">
                    <ul class="list">
                      <li class="first"><a class="nav-link" href="/regions-blocks/">Block Layout</a></li>
                      <li class="first"><a class="nav-link" href="/regions-block-config">Block config</a></li>
                    </ul>
                  </dd>
                </li>
                <li class="nav-item item7">
                  <dl class="slide-down">
                    <dt><a href="#" class="fa fa-info">Content Types</a></dt>
                  </dl>
                </li> 
                <li class="nav-item item7">
                  <dl class="slide-down">
                    <dt><a href="#" class="fa fa-info">Using content builder</a></dt>
                  </dl>
                </li> 
                <li class="nav-item item8">
                  <dl class="slide-down">
                    <dt><a href="#theme_setting" class="fa fa-angle-double-right">7. Theme settings</a><i class="fa fa-sample"></i></dt>
                  </dl>
                <dd style="display: none;">
                    <ul class="list">
                      <li class="first "><a href="#setting_gerenal"><i class="fa fa-sample"></i>Gerenal options</a></li>
                      <li class="first "><a href="#setting_header"><i class="fa fa-sample"></i>Header options</a></li>
                     <li class="first "><a href="#setting_social"><i class="fa fa-sample"></i>Social options</a></li>
                      <li class="first "><a href="#setting_footer"><i class="fa fa-sample"></i>Footer options</a></li>
                      <li class="first "><a href="#setting_customize"><i class="fa fa-sample"></i>Settings Customize</a></li>
                      <li class="first "><a href="#setting_css"><i class="fa fa-sample"></i>Customize css</a></li>
                    </ul>
                  </dd>
              </li>
              <li class="nav-item item10 last">
                <dl class="slide-down"> <dt><a href="#finally" class="fa fa-angle-double-right">Finally</a></dt>
                </dl>
              </li>
              <li class="nav-item item10 last">
                  <dl class="slide-down"> <dt><a href="/drupal-updates/" class="fa fa-angle-double-right" style="color: #ff1d4e; font-weight: 700;">Update Drupal 9</a></dt>
                  </dl>
              </li>                                          
              </ul>
            </div>
          </div> 
          <div class="col-xs-12 col-md-9 col-lg-10">
            {{ content }}
          </div> 
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <p class="footer-info text-center">&copy; Copyright {{ 'now' | date: "%Y" }} {{ site.data.global.title }} | All rights Reserved</p>
      <p class="text-2 text-center mb-0">Designed &amp; Developed by <a class="btn-link" target="_blank" href="#">Kenneth Muturi</a>.</p>
    </div>
  </footer>
  <div class="" id="back-top"> <a href="#"><i class="fa fa-angle-double-up"></i></a> </div>
	<script src="assets/jquery.js"></script>
	<script src="assets/scripts.js"></script>
</body>
</html>